<?xml version="1.0"?>
<robot name="sensor_imu" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="sensor_imu" params="prefix parent *origin noise:=0.08">
        <joint name="${prefix}_base_joint" type="fixed">
            <axis xyz="1 0 0"/>
            <xacro:insert_block name="origin"/>
            <parent link="${parent}"/>
            <child link="${prefix}_base_link"/>
        </joint>
        <link name="${prefix}_base_link">
            <inertial>
                <mass value="0.001"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.0001"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <box size="0.001 0.001 0.001"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <box size=".001 .001 .001"/>
                </geometry>
            </collision>
        </link>
        <gazebo reference="${prefix}_base_link">
            <gravity>true</gravity>
            <sensor name="imu_sensor" type="imu">
                <always_on>true</always_on>
                <update_rate>25</update_rate>
                <visualize>true</visualize>
                <topic>__default_topic__</topic>
                <imu>
                    <angular_velocity>
                        <x>
                            <noise type="gaussian">
                                <mean>-0.0010985</mean>
                                <stddev>0.005756</stddev>
                            </noise>
                        </x>

                        <y>
                            <noise type="gaussian">
                                <mean>0.0007195</mean>
                                <stddev>0.006750000000000001</stddev>
                            </noise>
                        </y>

                        <z>
                            <noise type="gaussian">
                                <mean>0.00027150000000000004</mean>
                                <stddev>0.0010065</stddev>
                            </noise>
                        </z>
                    </angular_velocity>

                    <linear_acceleration>
                        <x>
                            <noise type="gaussian">
                                <mean>-0.0015709999999999997</mean>
                                <stddev>0.0032233333333333333</stddev>
                            </noise>
                        </x>

                        <y>
                            <noise type="gaussian">
                                <mean>-0.0026985833333333336</mean>
                                <stddev>0.00370325</stddev>
                            </noise>
                        </y>

                        <z>
                            <noise type="gaussian">
                                <mean>-0.003742333333333334</mean>
                                <stddev>0.0027795833333333336</stddev>
                            </noise>
                        </z>
                    </linear_acceleration>
                </imu>
                <plugin filename="libgazebo_ros_imu_sensor.so" name="${prefix}">
                    <ros>
                        <remapping>~/out:=${prefix}</remapping>
                    </ros>
                    <frame_name>${prefix}_base_link</frame_name>
                    <initial_orientation_as_reference>false</initial_orientation_as_reference>
                </plugin>
                <pose>0 0 0 0 0 0</pose>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>
